body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.top-section{
    margin: 0;
}
.top-sec-half{
    float: left;
    width: 46%;
    margin-left: 2%;
    padding-left: 2%;
}
.div-left{
    margin-top: 3%;
}
h1{
    font-size: 55px;
    font-weight: 700;
}
.top-para{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
span{
    color: #FF1E1E;
}
.bTn{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(100deg, #FBA24F, #FF1E1E);
    border-radius: 20px;
}
.top-sec-half img{
    width: 90%;
    float: right;
}