body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 60px;
    font-weight: 700;
}

span{
    color: #FF1E1E;
}

.bTn{
    padding: 10px 30px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    border-radius: 20px;
}